<div class="card">
  <div class="card-body">
    <h1 class="card-title text-center">GeoGame</h1>
    <h2 class="card-subtitle mb-2 text-muted text-center">a geolocation browser game</h2>
    <br>
    <h3 class="text-center card-subtitle">
      GeoGame is a browser game, where you have to guess a european city based only on a
      satellite image. This project is the practical part of a subject called Applied Internet Technologies.
      There are always three choices. You are also allowed to contribute
      locations to the game. Your live position can be determined to add a point.
      Locations can also be contributed by simply double clicking on the contribution map.
      When the coordinates appear in the form below, you can add city and country name and hit submit.
      The contributed locations are saved on the client side (your side) and are removed
      when the cache of the browser is cleared.
    </h3>
    <br>
    <h4 class="text-center card-subtitle">Have fun playing, Maria :)</h4>
  </div>
</div>
