<div class="card">
  <div class="card-body">
    <h5 class="card-title">Guess where you are</h5>
    <h6 class="card-subtitle mb-2 text-muted">based only on a satellite image</h6>
    <br>
    <div *ngIf="parsedCSV != undefined" leaflet class="map"
         [leafletOptions]="options"
         [(leafletCenter)]="center">

    </div>
    <br>
    <p class="card-text">Place your answer here:</p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button (click)="checkForAnswer()" type="button" href="#!" class="btn btn-outline-primary waves-effect">{{rightAnswer}}</button>
      <button (click)="checkForAnswer()" type="button" href="#!" class="btn btn-outline-primary waves-effect">{{wrongAnswer1}}</button>
      <button (click)="checkForAnswer()" type="button" href="#!" class="btn btn-outline-primary waves-effect">{{wrongAnswer2}}</button>
    </div>
  </div>
</div>
